@import "tailwindcss";

body{
  background-color: #0F1014;
}


.menubar:hover{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,8,3,0.05654761904761907) 100%);
}
